WebApplicationLab_client/src/conf/xml-resources/web-service-references/WebCalculator/wsdl/localhost_8080/WebApplicationLab_web/WebCalculator.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://serviciosweb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://serviciosweb/">

<xs:element name="add" type="tns:add"/>

<xs:element name="addResponse" type="tns:addResponse"/>

<xs:complexType name="add">
<xs:sequence>
<xs:element name="n1" type="tns:complexNumbers" minOccurs="0"/>
<xs:element name="n2" type="tns:complexNumbers" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="complexNumbers">
<xs:sequence>
<xs:element name="i" type="xs:int"/>
<xs:element name="j" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addResponse">
<xs:sequence>
<xs:element name="return" type="tns:complexNumbers" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>